using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Diagnostics;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace TreeStuctureOfSalons
{
    public partial class _: Component
    {    
        public _()
        {
            InitializeComponent();
        }

        public _(IContainer container)
        {
            container.Add(this);

            InitializeComponent();
        }
    }
}
